%container {
    padding-left: calc(50% - calc(100% - 48px) / 2);
    padding-right: calc(50% - calc(100% - 48px) / 2);
}

@media screen and (min-width: 1440px) {
    %container {
        padding-left: calc(50% - 1400px / 2);
        padding-right: calc(50% - 1400px / 2);
    }
}