:root {
    --neutre-color: #3a7cfd;
    --primary-bg-color: #f5f5f5;
    --primary-color: #494C6B;
    --bg-el: #ffffff;
    --cross: #494C6B;
    --secondary-color-item: #6B6C7B;
    --shadow: #c2c3d680;
}

[data-theme="dark"] {
    --neutre-color: #3a7cfd;
    --primary-bg-color: #171823;
    --primary-color: #C8CBE7;
    --bg-el: #25273D;
    --cross: #A3A7D8;
    --secondary-color-item: #A5A6B0;
    --shadow: #00000080;
}